<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Advanced Sentiment Analyzer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div style="background-color: rgba(255, 255, 255, 0.6);">
        <div class="container">
            <h1 class="w3-jumbo">Advanced Sentiment Analyzer</h1>
            <p style="text-align: justify;">
                <b>Advanced Sentiment Analyzer </b> is a multi-headed machine learning model that's capable of detecting different types of toxicity in comment texts
                <br> Firstly it makes a high level analysis of the latent sentiments of the text
                <br> Then it analyses the negativity of the text for Identity Hate, Insult, Obscenity, Sever Toxicity, Threat, Toxicity

            </p>
            <div class="content w3-center">
                <form action="{{ url_for('predict')}}" method="post">
                    <div class="input-field">
                        <input type="text" name="text" required="required" />
                        <label for="text">Text</label>
                    </div>
                    <div class="w3-center">
                        <button type="submit" class="btn w3-blue-gray">Analyze</button>
                    </div>

                </form>
            </div>


            <br>
            <br> {% if results != '' %}
            <div>
                <div class="content">
                    <p> <b>Input : </b> {{ inp }}</p>
                </div>

                <br>
                <h3 class="w3-xxxlarge">Results</h3> <br> {% if debug == 1 %}

                <p>{{ results }}</p>
                {% endif %}

                <div style="display: grid;" class="w3-border w3-border-blue-gray">
                    <div style="grid-column: 1 / 1; grid-row: 1 / 2;" class="w3-border w3-border-blue-gray w3-padding-large">
                        <h2 class="w3-center">Vader Sentiment Analysis</h2>
                        <canvas height=150 id="chart_pie"></canvas>
                    </div>
                    <div style="grid-column: 1 / 1; grid-row: 3 / 3;" class="w3-border w3-border-blue-gray w3-padding-large">
                        <h2 class="w3-center">Binary Sentiment Analysis</h2>
                        <canvas height=150 id="chart_bar"></canvas>
                    </div>
                    <div style="grid-row: 1 / 5; grid-column: 2 / 6;" class="w3-border w3-border-blue-gray w3-padding-large">
                        <h2 class="w3-center">Negative Sentiment Analysis</h2>
                        <canvas height=270 id="chart_radar"></canvas>
                    </div>
                </div>


                <br><br><br>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    {% if results != '' %}
    <script>
        var model1 = JSON.parse("{{ results['model1'] }}")
        var model2 = JSON.parse("{{ results['model2'] }}")

        var positive = JSON.parse("{{ results['overview']['positive'] }}")
        var negative = JSON.parse("{{ results['overview']['negative'] }}")

        var vader = JSON.parse("{{ results['vader'] }}");

        var ctx0 = document.getElementById('chart_pie');
        var ctx1 = document.getElementById('chart_radar');
        var ctx2 = document.getElementById('chart_bar');

        var piechart = new Chart(ctx0, {
            type: 'doughnut',
            data: {
                labels: ['Negative', 'Neutral', 'Positive'],
                datasets: [{
                    data: vader,
                    backgroundColor: ['rgba(244,67,54, 0.4)', 'rgba(255,235,59, 0.4)', 'rgba(76,175,80, 0.4)'],
                    borderColor: ['rgba(244,67,54, 1)', 'rgba(255,235,59, 1)', 'rgba(76,175,80, 1)'],
                }]
            },
            options: {}
        });

        var radarchart = new Chart(ctx1, {
            type: 'radar',
            data: {
                labels: ['Identity Hate', 'Insult', 'Obscenity', 'Sever Toxicity', 'Threat', 'Toxicity'],
                datasets: [{
                    label: 'Model1',
                    data: model1,
                    backgroundColor: [
                        'rgba(246, 75, 60, 0.15)'
                    ],
                    borderColor: [
                        'rgba(246, 75, 60, 1)'
                    ],
                    borderWidth: 1
                }, {
                    label: 'Model2',
                    data: model2,
                    backgroundColor: [
                        'rgba(200, 25, 18, 0.15)'
                    ],
                    borderColor: [
                        'rgba(200, 25, 18, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                /*    scale: {
                        ticks: {
                            min: 0,
                            max: 100
                        }
                    }*/
            }
        });

        var barchart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: ['Model1', 'Model2', "Mean"],
                datasets: [{
                    label: 'Positive',
                    data: positive,
                    backgroundColor: 'rgba(76,175,80, 0.65)',
                    borderColor: 'rgba(76,175,80, 1)',
                }, {
                    label: 'Negative',
                    data: negative,
                    backgroundColor: 'rgba(244,67,54, 0.65)',
                    borderColor: 'rgba(244,67,54, 1)',
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>
    {% endif %}
</body>

</html>